
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>南京师范大学电气与自动化工程学院</title><meta name="pageType" content="1">
<meta name="pageTitle" content="南京师范大学电气与自动化工程学院">
<META Name="keywords" Content="南京师范大学电气与自动化工程学院" />

    <link href="css/function.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-latest.min.js"></script>
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="_sitegray/_sitegray_d.css" />
<script language="javascript" src="_sitegray/_sitegray.js"></script>
<!-- CustomerNO:7765626265723230776447525055574200030003475c -->
<link rel="stylesheet" type="text/css" href="index.vsb.css" />
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1001,'/index.jsp',-1,1841553936)</script>
</head>

<body>
<style type="text/css">
#browser-modal{width:100%;height:100%;top:0;left:0;text-align:center;color:#303233;position:fixed;z-index:9999;display: none;}
#browser-modal .browser-modal-cover{position:fixed;left:0;top:0;height:100%;width:100%;background-color:#111;opacity:.9;z-index:-1;}
#browser-modal .browser-content{width:700px;margin-top:120px;margin-left:auto;margin-right:auto;padding-bottom:80px;padding-top:30px;background-color:#fff;border-radius:5px;}
#browser-modal .browser-content .browser-dpc-logo img{height:62px;margin:45px auto 30px;}
#browser-modal .browser-content .browser-text-title{text-transform:uppercase;font-size:24px;}
#browser-modal .browser-content .browser-text-desc{margin-top:30px;margin-bottom:40px;font-size:14px;}
#browser-modal .browser-content .browser-list{width:600px;margin:40px auto;height:130px;}
#browser-modal .browser-content .browser-item{float:left;width:150px;padding-top:20px;padding-bottom:20px;margin-left:auto;margin-right:auto;}
#browser-modal .browser-content .browser-item .iconfont{width:100px;height:100px;margin:0 auto;font-size:80px;line-height:80px;margin-bottom:30px;}
#browser-modal .browser-content .browser-item a{color:#921041;cursor:pointer;display:block;}
#browser-modal .browser-content .browser-item a img{display:block;margin:0 auto;max-width:100px;width:100px;height:100px;}
#browser-modal .browser-content .browser-item a h4{text-align:center;margin-top:20px;font-size:18px;font-weight:700;}
.fixedok .banner {opacity:0;}

#browser-modal .browser-content .browser-item .iconchrome{background:url(images/bro.png) no-repeat 0 0;}
#browser-modal .browser-content .browser-item .iconfirefox{background:url(images/bro.png) no-repeat 0 -100px;}
#browser-modal .browser-content .browser-item .iconopera{background:url(images/bro.png) no-repeat 0 -200px;}
#browser-modal .browser-content .browser-item .iconEdge{background:url(images/bro.png) no-repeat 0 -300px;}


</style>
<div><script language="javascript" src="/system/resource/js/dynclicks.js"></script> 
    
<DIV id="adu0" width="159" style="Z-index:99999;LEFT: 0px; POSITION: absolute; TOP: 0px">
<iframe frameborder="0" src="about:blank" style="position:absolute;Z-index:-1;width:100%;height:100%;top:0;left:0;scrolling:no;filter:progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)"></iframe>
    <TABLE cellspacing="0" cellpadding="0" border="0">   
    <TBODY>   

<TR align="center">
    <TD align="left"><A href="https://eae.njnu.edu.cn/info/1044/7613.htm" target="_blank" title="" onclick="_addDynClicks('wbimage',1841553936,1016414)"><img src="images/zp20250228.png" width="300" height="133" border="0"></A></TD>
</TR>
   
        <TR>   
            <TD align="right" style="padding-top:1px"><table border="0" cellpadding="10" cellspacing="0"><tr><td style="background-color:#f5f5f5;padding:1px"><a href="javascript:showimagecloseu0();" class="closestyle1148892">关闭</a></td></tr></table></TD> 
        </TR>   
   
   
    </TBODY> 
    </TABLE> 
</DIV>
  
<SCRIPT>   
function showimagecloseu0()   
{   
    var obju0=document.getElementById("adu0");   
    obju0.style.display = 'none';   
};   
//水平             //上下    
   
var xu0 = 0;yu0 = 0;   
   
var xinu0 = true; yinu0 = true;   
var stepu0 = 1;   
   
var delayu0 = 88;   
 
var obju0=document.getElementById("adu0");
var bdyu0 = document.body;  
    if (document.compatMode && document.compatMode != "BackCompat")
        bdyu0 = document.documentElement;
    else
        bdyu0 = document.body;
function floatADu0()
{
    var bdy_scrollTop = document.body.scrollTop | document.documentElement.scrollTop;
    var Lu0=Tu0=0;   
    var Ru0= bdyu0.clientWidth-obju0.offsetWidth;  
    var Bu0 = bdyu0.clientHeight-obju0.offsetHeight; 
    obju0.style.left = xu0 + bdyu0.scrollLeft+"px";   
    obju0.style.top = yu0 + bdy_scrollTop+"px";   
    xu0 = xu0 + stepu0*(xinu0?1:-1);    
    if(xu0 < Lu0) 
    { 
        xinu0 = true;
        xu0 = Lu0;
    }  
    if(xu0 > Ru0)
    { 
        xinu0 = false; 
        xu0 = Ru0;
    }  
    yu0 = yu0 + stepu0*(yinu0?1:-1);    
    if(yu0 < Tu0) 
    { 
        yinu0 = true; 
        yu0 = Tu0; 
    }
    if(yu0 > Bu0) 
    { 
        yinu0 = false; 
        yu0 = Bu0; 
    }
} 
var itlu0;
if(window.navigator.userAgent.indexOf("MSIE")>=1)
{
    window.attachEvent('onload', adftu0);
}
else
{
    window.addEventListener('load',adftu0, false);
}
function adftu0()
{
    itlu0 = setInterval("floatADu0()", delayu0);   
}
    obju0.onmouseover=function(){clearInterval(itlu0);};   
    obju0.onmouseout=function(){itlu0=setInterval("floatADu0()", delayu0)};      
   
</SCRIPT></div>
<div id="browser-modal">
    <div class="browser-modal-cover">
    </div>
    <div class="browser-content">
        <div class="browser-text">
            
            <h3 class="browser-text-title">请升级浏览器版本</h3>
            <p class="browser-text-desc">
        你正在使用旧版本浏览器。请升级浏览器以获得更好的体验。
            </p>
        </div>
        <div class="browser-list">
            <div class="browser-item">
                <a href="https://www.google.cn/intl/zh-CN/chrome/" target="_blank">
                <div class="iconfont iconchrome">
                </div>
                <h4>Chrome</h4>
                </a>
            </div>
            <div class="browser-item">
                <a href="http://www.firefox.com.cn/" target="_blank">
                <div class="iconfont iconfirefox">
                </div>
                <h4>Firefox</h4>
                </a>
            </div>
            <div class="browser-item">
                <a href="https://www.opera.com/zh-cn" target="_blank">
                <div class="iconfont iconopera">
                </div>
                <h4>Opera</h4>
                </a>
            </div>
            <div class="browser-item">
                <a href="https://www.microsoft.com/zh-cn/edge" target="_blank">
                <div class="iconfont iconEdge">
                </div>
                <h4>Edge</h4>
                </a>
            </div>
        </div>
    </div>
    <script>
        if(navigator.appName == "Microsoft Internet Explorer"&&parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE","")) < 9){
            document.getElementById('browser-modal').style.display='block';
            console.log("您的浏览器版本过低，请使用IE10以上版本");
    }
    </script>
</div>
<!--手机导航-->
<div id="navbg"></div>
<div class="mob_nav">
                    <div class="mob_top">
                        <div class="toplink"><script language="javascript" src="/system/resource/js/openlink.js"></script>
<a href="mailto:22021@njnu.edu.cn" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1841553936, 76833)">书记信箱</a> | 
<a href="mailto:63047@njnu.edu.cn" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1841553936, 76835)">院长信箱</a> | 
<a href="http://d.njnu.edu.cn/user/login?destination=nbtz" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1841553936, 76834)">教工之家</a> | 
<a href="http://schools.njnu.edu.cn/electric/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1841553936, 76836)">English</a>

</div>
                        <div class="colsebtn"><img src="images/gbbtn.png"></div>
                    </div>
                   


<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><LINK href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script>
<div id="divu2"></div>
<script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError">
        
         <div class="js_mob">
<div class="search-input">
<input type="text" placeholder="请输入您要查找的内容"autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit" >
 <button type="submit" value=""  v-on:click="onSubmit()">搜索</button>
 </div>
  </div>
        
            
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu2").html($("#htmlu2").text());
</script>
<script>
    var appOwner = "1841553936";
    var token = 'tourist';
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://223.2.9.5:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>
                    <ul class="mob_list"> <li class="on"><a href="index.htm" title="首页">首页</a>
 </li>
 <li><a href="xygk/xyjj.htm" title="学院概况">学院概况</a>
   <ul class="ejnav">
   
    <li><a href="xygk/xyjj.htm" title="学院简介">学院简介</a></li>
   
    <li><a href="xygk/xrld.htm" title="现任领导">现任领导</a></li>
   
    <li><a href="xygk/szdw1.htm" title="师资队伍">师资队伍</a></li>
   
    <li><a href="xygk/zzjg.htm" title="组织机构">组织机构</a></li>
   
    <li><a href="xygk/lxwm.htm" title="联系我们">联系我们</a></li>
   
  </ul>
 </li>
 <li><a href="dqgz/tzgg.htm" title="党群工作">党群工作</a>
   <ul class="ejnav">
   
    <li><a href="dqgz/tzgg.htm" title="通知公告">通知公告</a></li>
   
    <li><a href="dqgz/djdt.htm" title="党建动态">党建动态</a></li>
   
    <li><a href="dqgz/dyxf.htm" title="党员先锋">党员先锋</a></li>
   
    <li><a href="dqgz/gzzd.htm" title="规章制度">规章制度</a></li>
   
    <li><a href="dqgz/xxck.htm" title="学习参考">学习参考</a></li>
   
    <li><a href="dqgz/ghgz.htm" title="工会工作">工会工作</a></li>
   
    <li><a href="dqgz/ggwgz.htm" title="关工委工作">关工委工作</a></li>
   
  </ul>
 </li>
 <li><a href="bkjx/tzgg.htm" title="本科教学">本科教学</a>
   <ul class="ejnav">
   
    <li><a href="bkjx/tzgg.htm" title="通知公告">通知公告</a></li>
   
    <li><a href="bkjx/zyjs.htm" title="专业介绍">专业介绍</a></li>
   
    <li><a href="bkjx/jxgl.htm" title="教学管理">教学管理</a></li>
   
    <li><a href="bkjx/jxcg.htm" title="教学成果">教学成果</a></li>
   
    <li><a href="bkjx/sjjx.htm" title="实践教学">实践教学</a></li>
   
    <li><a href="bkjx/jxzz.htm" title="教学组织">教学组织</a></li>
   
    <li><a href="bkjx/zlxz.htm" title="资料下载">资料下载</a></li>
   
  </ul>
 </li>
 <li><a href="yjsjx/tzgg.htm" title="研究生教学">研究生教学</a>
   <ul class="ejnav">
   
    <li><a href="yjsjx/tzgg.htm" title="通知公告">通知公告</a></li>
   
    <li><a href="yjsjx/xwdjs.htm" title="学位点介绍">学位点介绍</a></li>
   
    <li><a href="yjsjx/yjsgzz.htm" title="研究生工作站">研究生工作站</a></li>
   
    <li><a href="yjsjx/dsjs/bssds1.htm" title="导师介绍">导师介绍</a></li>
   
  </ul>
 </li>
 <li><a href="xkjky/xsdt.htm" title="学科及科研">学科及科研</a>
   <ul class="ejnav">
   
    <li><a href="xkjky/xsdt.htm" title="学术动态">学术动态</a></li>
   
    <li><a href="xkjky/xkjs.htm" title="学科介绍">学科介绍</a></li>
   
    <li><a href="xkjky/yjpt.htm" title="研究平台">研究平台</a></li>
   
    <li><a href="xkjky/kytd.htm" title="科研团队">科研团队</a></li>
   
  </ul>
 </li>
 <li><a href="xsgz/tzgg.htm" title="学生工作">学生工作</a>
   <ul class="ejnav">
   
    <li><a href="xsgz/tzgg.htm" title="通知公告">通知公告</a></li>
   
    <li><a href="xsgz/dtjs.htm" title="党团建设">党团建设</a></li>
   
    <li><a href="xsgz/xszz.htm" title="学生组织">学生组织</a></li>
   
    <li><a href="xsgz/qcfc.htm" title="青春风采">青春风采</a></li>
   
    <li><a href="xsgz/gzzd.htm" title="规章制度">规章制度</a></li>
   
    <li><a href="xsgz/xsjs.htm" title="学生竞赛">学生竞赛</a></li>
   
  </ul>
 </li>
 <li><a href="zsjy/bkszs.htm" title="招生就业">招生就业</a>
   <ul class="ejnav">
   
    <li><a href="zsjy/bkszs.htm" title="本科生招生">本科生招生</a></li>
   
    <li><a href="zsjy/yjszs.htm" title="研究生招生">研究生招生</a></li>
   
    <li><a href="zsjy/jyzd.htm" title="就业指导">就业指导</a></li>
   
    <li><a href="zsjy/zpxx.htm" title="招聘信息">招聘信息</a></li>
   
  </ul>
 </li>
 <li style="display: none;"><a href="xwsd.htm" title="新闻速递">新闻速递</a>
 </li>
 <li style="display: none;"><a href="tzgg.htm" title="通知公告">通知公告</a>
 </li>
 <li style="display: none;"><a href="rsxx.htm" title="人事信息">人事信息</a>
 </li>
 <li style="display: none;"><a href="kyxx.htm" title="科研信息">科研信息</a>
 </li>
 <li style="display: none;"><a href="xsyg.htm" title="学术预告">学术预告</a>
 </li>
 <li style="display: none;"><a href="ztjj.htm" title="专题聚焦">专题聚焦</a>
 </li>
 <li style="display: none;"><a href="xyyhzjl.htm" title="校友与合作交流">校友与合作交流</a>
 </li>
 <li style="display: none;"><a href="dzy70nyq.htm" title="电自院70年院庆">电自院70年院庆</a>
 </li>
 <li style="display: none;"><a href="fxlpxyjl.htm" title="非学历培训与交流">非学历培训与交流</a>
 </li>
 <li style="display: none;"><a href="https://eae.njnu.edu.cn/info/1044/4733.htm" title="同等学力申硕">同等学力申硕</a>
 </li>
</ul>
</div> <!--手机导航结束-->
    
<div class="bodybg">
    <div class="header">
        <div class="rowbox clearfix">
                    <div class="logo_l">
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="index.htm" title="电气与自动化工程学院"><img src="images/logo.png"></a></div>   
                    <div class="headr"> 
                        <p>
<a href="mailto:22021@njnu.edu.cn" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1841553936, 76833)">书记信箱</a> | 
<a href="mailto:63047@njnu.edu.cn" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1841553936, 76835)">院长信箱</a> | 
<a href="http://d.njnu.edu.cn/user/login?destination=nbtz" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1841553936, 76834)">教工之家</a> | 
<a href="http://schools.njnu.edu.cn/electric/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1841553936, 76836)">English</a>

</p>
                        



<div id="divu6"></div>
<script type="text/html" id="htmlu6">
    <div id="appu6">
        <div v-if="!isError">
        
        <div class="searhbox01" id="search01">
<input type="text" class="text" placeholder="请输入关键词..." autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit" >
<button type="submit" class="btn" value=""  v-on:click="onSubmit()"></button>
 </div>
 
            
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu6").html($("#htmlu6").text());
</script>
<script>
    var appOwner = "1841553936";
    var token = 'tourist';
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu6",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://223.2.9.5:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>
                    </div>
                    <div class="meun_icon"><img src="images/meun.png"></div>
        </div>
    

        <!--导航-->
        <div class="navbg">
            <div class="nav"><ul class="clearfix">
 <li class="on"><a href="index.htm" title="首页"><i></i>首页</a>
 </li>
 <li><a href="xygk/xyjj.htm" title="学院概况">学院概况</a>
   <ul class="ejnav">
   
    <li><a href="xygk/xyjj.htm" title="学院简介">学院简介</a></li>
   
    <li><a href="xygk/xrld.htm" title="现任领导">现任领导</a></li>
   
    <li><a href="xygk/szdw1.htm" title="师资队伍">师资队伍</a></li>
   
    <li><a href="xygk/zzjg.htm" title="组织机构">组织机构</a></li>
   
    <li><a href="xygk/lxwm.htm" title="联系我们">联系我们</a></li>
   
  </ul>
 </li>
 <li><a href="dqgz/tzgg.htm" title="党群工作">党群工作</a>
   <ul class="ejnav">
   
    <li><a href="dqgz/tzgg.htm" title="通知公告">通知公告</a></li>
   
    <li><a href="dqgz/djdt.htm" title="党建动态">党建动态</a></li>
   
    <li><a href="dqgz/dyxf.htm" title="党员先锋">党员先锋</a></li>
   
    <li><a href="dqgz/gzzd.htm" title="规章制度">规章制度</a></li>
   
    <li><a href="dqgz/xxck.htm" title="学习参考">学习参考</a></li>
   
    <li><a href="dqgz/ghgz.htm" title="工会工作">工会工作</a></li>
   
    <li><a href="dqgz/ggwgz.htm" title="关工委工作">关工委工作</a></li>
   
  </ul>
 </li>
 <li><a href="bkjx/tzgg.htm" title="本科教学">本科教学</a>
   <ul class="ejnav">
   
    <li><a href="bkjx/tzgg.htm" title="通知公告">通知公告</a></li>
   
    <li><a href="bkjx/zyjs.htm" title="专业介绍">专业介绍</a></li>
   
    <li><a href="bkjx/jxgl.htm" title="教学管理">教学管理</a></li>
   
    <li><a href="bkjx/jxcg.htm" title="教学成果">教学成果</a></li>
   
    <li><a href="bkjx/sjjx.htm" title="实践教学">实践教学</a></li>
   
    <li><a href="bkjx/jxzz.htm" title="教学组织">教学组织</a></li>
   
    <li><a href="bkjx/zlxz.htm" title="资料下载">资料下载</a></li>
   
  </ul>
 </li>
 <li><a href="yjsjx/tzgg.htm" title="研究生教学">研究生教学</a>
   <ul class="ejnav">
   
    <li><a href="yjsjx/tzgg.htm" title="通知公告">通知公告</a></li>
   
    <li><a href="yjsjx/xwdjs.htm" title="学位点介绍">学位点介绍</a></li>
   
    <li><a href="yjsjx/yjsgzz.htm" title="研究生工作站">研究生工作站</a></li>
   
    <li><a href="yjsjx/dsjs/bssds1.htm" title="导师介绍">导师介绍</a></li>
   
  </ul>
 </li>
 <li><a href="xkjky/xsdt.htm" title="学科及科研">学科及科研</a>
   <ul class="ejnav">
   
    <li><a href="xkjky/xsdt.htm" title="学术动态">学术动态</a></li>
   
    <li><a href="xkjky/xkjs.htm" title="学科介绍">学科介绍</a></li>
   
    <li><a href="xkjky/yjpt.htm" title="研究平台">研究平台</a></li>
   
    <li><a href="xkjky/kytd.htm" title="科研团队">科研团队</a></li>
   
  </ul>
 </li>
 <li><a href="xsgz/tzgg.htm" title="学生工作">学生工作</a>
   <ul class="ejnav">
   
    <li><a href="xsgz/tzgg.htm" title="通知公告">通知公告</a></li>
   
    <li><a href="xsgz/dtjs.htm" title="党团建设">党团建设</a></li>
   
    <li><a href="xsgz/xszz.htm" title="学生组织">学生组织</a></li>
   
    <li><a href="xsgz/qcfc.htm" title="青春风采">青春风采</a></li>
   
    <li><a href="xsgz/gzzd.htm" title="规章制度">规章制度</a></li>
   
    <li><a href="xsgz/xsjs.htm" title="学生竞赛">学生竞赛</a></li>
   
  </ul>
 </li>
 <li><a href="zsjy/bkszs.htm" title="招生就业">招生就业</a>
   <ul class="ejnav">
   
    <li><a href="zsjy/bkszs.htm" title="本科生招生">本科生招生</a></li>
   
    <li><a href="zsjy/yjszs.htm" title="研究生招生">研究生招生</a></li>
   
    <li><a href="zsjy/jyzd.htm" title="就业指导">就业指导</a></li>
   
    <li><a href="zsjy/zpxx.htm" title="招聘信息">招聘信息</a></li>
   
  </ul>
 </li>
         </ul></div>  
    </div>
    </div><!--header结束-->

    <div class="banner">    <ul>        
<li>
                <a href="info/1043/8693.htm" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1841553936, 1020207)">
                    <img src="images/1.jpg">
                    <h1><span></span></h1>
                </a>
            </li>
            
</ul></div>

    
    <div class="rowbox clearfix">
        <!--工作动态-->
        <div class="newsbox clearfix">
            <div class="newspic clearfix">
                <div class="tit"><h1><span>新闻</span>速递</h1><a href="xwsd.htm" class="more">MORE</a></div>
                <div>







<script language="javascript" src="/system/resource/js/centerCutImg.js"></script><script language="javascript" src="/system/resource/js/ajax.js"></script><ul class="pic_li clearfix">
<li>
                        <a href="info/1043/10203.htm" title="校国际合作与交流处在我院开展调研工作">
                            <div class="imgbox"><img src="/__local/2/DC/CF/7484DC8FC0F01BFAA8AED8354B3_13268B4E_2861C.jpg"></div>
                            <div class="bt">
                                <span></span>
                                <h1>校国际合作与交流处在我院开展调研工作</h1>
                            </div>
                        </a>
                    </li>
                    
<li>
                        <a href="info/1043/10183.htm" title="关工委系列活动之重阳观花行">
                            <div class="imgbox"><img src="/__local/0/DD/69/608AB3A1CF9E863E38A30EB69E9_A6797CA8_1ECF0.jpg"></div>
                            <div class="bt">
                                <span></span>
                                <h1>关工委系列活动之重阳观花行</h1>
                            </div>
                        </a>
                    </li>
                    
<li>
                        <a href="info/1043/10173.htm" title="我院拔尖创新人才实验班开班仪式顺利举办">
                            <div class="imgbox"><img src="/__local/B/ED/CA/AD5A19286CE0DECC603BB46362F_1458998B_2D928.jpg"></div>
                            <div class="bt">
                                <span></span>
                                <h1>我院拔尖创新人才实验班开班仪式顺利举办</h1>
                            </div>
                        </a>
                    </li>
                     </ul>
                <ul class="tit_li clearfix">
                     <li>
                        <a href="info/1043/9553.htm" title="电力标准化走进校园，国网电科院专家与师生共话行业前沿">电力标准化走进校园，国网电科院专家与师生共话行业前沿</a>
                    </li>
                     <li>
                        <a href="info/1043/9403.htm" title="南钢集团到访我院开展交流活动">南钢集团到访我院开展交流活动</a>
                    </li>
                     <li>
                        <a href="info/1043/9523.htm" title="研途“企”航 | 南师大电自院2025级研究生新生赴南京钢铁集团开展实践研学">研途“企”航 | 南师大电自院2025级研究生新生赴南京钢铁集团...</a>
                    </li>
                     <li>
                        <a href="info/1043/9503.htm" title="新时代卓越工程师培养系列讲座 | 王琦：助力学术规范，提升学术素养">新时代卓越工程师培养系列讲座 | 王琦：助力学术规范，提升学...</a>
                    </li>
</ul><script>_showDynClickBatch(['dynclicks_u9_10203','dynclicks_u9_10183','dynclicks_u9_10173','dynclicks_u9_9553','dynclicks_u9_9403','dynclicks_u9_9523','dynclicks_u9_9503'],[10203,10183,10173,9553,9403,9523,9503],"wbnews", 1841553936)</script>
</div>
            </div>
            <div class="newslist">  
                 <div class="hd">
                     <ul class="clearfix">
                         <li>通知公告</li><li>人事信息</li><li>科研信息</li><li>学术预告</li>
                     </ul>
                 </div>
                 <div class="bd">
                    <ul class="notice">







   <li><a href="info/1044/9003.htm" title="南瑞电气与自动化学院2026年接收推荐免试攻读研究生复试录取办法"><span>09-09<p>2025</p></span> <h1><i>南瑞电气与自动化学院2026年接收推荐免...</i></h1></a></li>
   
   <li><a href="info/1044/8563.htm" title="关于2026年硕士研究生招生考试初试科目调整的通知"><span>06-12<p>2025</p></span> <h1><i>关于2026年硕士研究生招生考试初试科目...</i></h1></a></li>
   
   <li><a href="info/1044/8233.htm" title="2025年校“立德树人奖教金”、2023-2024年度校“师德先进个人”和“师德标兵”荣誉称号评选活动通知"><span>05-07<p>2025</p></span> <h1><i>2025年校“立德树人奖教金”、2023-2024...</i></h1></a></li>
   
   <li><a href="info/1044/7613.htm" title="双一流高校国家级人才王鹏教授团队招收博士、诚聘博士后/专职科研人员"><span>02-28<p>2025</p></span> <h1><i>双一流高校国家级人才王鹏教授团队招收...</i></h1></a></li>
   
   <li><a href="info/1044/7113.htm" title="NNU校地合作指引 | 走进电气与自动化工程学院"><span>10-21<p>2024</p></span> <h1><i>NNU校地合作指引 | 走进电气与自动化工...</i></h1></a></li>
       <a href="tzgg.htm" class="morebtn"><span>MORE</span></a>
<script>_showDynClickBatch(['dynclicks_u10_9003','dynclicks_u10_8563','dynclicks_u10_8233','dynclicks_u10_7613','dynclicks_u10_7113'],[9003,8563,8233,7613,7113],"wbnews", 1841553936)</script>
</ul>
                      <ul class="n_list">







   <li><a href="info/1045/4443.htm" title="关于做好2023年专业技术岗位聘用工作的通知"><span>2023-11-30</span> <h1>关于做好2023年专业技术岗位聘用工作的...</h1></a></li>
                        
   <li><a href="info/1045/4433.htm" title="关于做好2023年度下半年中、初级专业技术职务认定工作的通知"><span>2023-11-24</span> <h1>关于做好2023年度下半年中、初级专业技...</h1></a></li>
                        
   <li><a href="info/1045/4423.htm" title="关于做好2023年“优秀教师奖”“优秀辅导员奖”“优秀管理服务奖”评选工作的通知"><span>2023-11-14</span> <h1>关于做好2023年“优秀教师奖”“优秀辅...</h1></a></li>
                        
   <li><a href="info/1045/3873.htm" title="关于做好2022年度突出成果奖励申报工作的通知"><span>2023-09-26</span> <h1>关于做好2022年度突出成果奖励申报工作...</h1></a></li>
                        
   <li><a href="info/1045/3343.htm" title="关于做好2023年下半年高等学校教师岗前培训的通知"><span>2023-09-13</span> <h1>关于做好2023年下半年高等学校教师岗前...</h1></a></li>
                        
   <li><a href="info/1045/3433.htm" title="关于做好2023年校“中青年领军人才”培养人选考核工作的通知"><span>2023-09-12</span> <h1>关于做好2023年校“中青年领军人才”培...</h1></a></li>
                        
   <li><a href="info/1045/3333.htm" title="关于做好霍英东教育基金会2023年高等院校青年科学奖申报工作的通知"><span>2023-08-24</span> <h1>关于做好霍英东教育基金会2023年高等院...</h1></a></li>
                        
   <li><a href="info/1045/3323.htm" title="关于做好2023年度专业技术职称评审分会推荐工作的预通知"><span>2023-06-06</span> <h1>关于做好2023年度专业技术职称评审分会...</h1></a></li>
                        
   <li><a href="info/1045/3313.htm" title="关于做好2023年度全国教书育人楷模推选工作的通知"><span>2023-06-05</span> <h1>关于做好2023年度全国教书育人楷模推选...</h1></a></li>
            <a href="rsxx.htm" class="morebtn"><span>MORE</span></a>                
<script>_showDynClickBatch(['dynclicks_u11_4443','dynclicks_u11_4433','dynclicks_u11_4423','dynclicks_u11_3873','dynclicks_u11_3343','dynclicks_u11_3433','dynclicks_u11_3333','dynclicks_u11_3323','dynclicks_u11_3313'],[4443,4433,4423,3873,3343,3433,3333,3323,3313],"wbnews", 1841553936)</script>
</ul>
                      <ul class="n_list">







   <li><a href="info/1046/9283.htm" title="2025年《国际期刊预警名单》"><span>2025-10-10</span> <h1>2025年《国际期刊预警名单》</h1></a></li>
                        
   <li><a href="info/1046/9273.htm" title="2024年《国际期刊预警名单》"><span>2025-10-10</span> <h1>2024年《国际期刊预警名单》</h1></a></li>
                        
   <li><a href="info/1046/9363.htm" title="校学术交流相关事务办理流程"><span>2025-10-10</span> <h1>校学术交流相关事务办理流程</h1></a></li>
                        
   <li><a href="info/1046/9343.htm" title="纵向项目相关事务办理流程"><span>2025-10-10</span> <h1>纵向项目相关事务办理流程</h1></a></li>
                        
   <li><a href="info/1046/9333.htm" title="横向项目相关事务办理流程"><span>2025-10-10</span> <h1>横向项目相关事务办理流程</h1></a></li>
                        
   <li><a href="info/1046/9323.htm" title="伦理审查相关事务办事流程"><span>2025-10-10</span> <h1>伦理审查相关事务办事流程</h1></a></li>
                        
   <li><a href="info/1046/9313.htm" title="知识产权相关事务办事流程"><span>2025-10-10</span> <h1>知识产权相关事务办事流程</h1></a></li>
                        
   <li><a href="info/1046/9303.htm" title="科研院公章使用流程"><span>2025-10-10</span> <h1>科研院公章使用流程</h1></a></li>
                        
   <li><a href="info/1046/9293.htm" title="国防项目相关事务办事流程"><span>2025-10-10</span> <h1>国防项目相关事务办事流程</h1></a></li>
            <a href="kyxx.htm" class="morebtn"><span>MORE</span></a>                
<script>_showDynClickBatch(['dynclicks_u12_9283','dynclicks_u12_9273','dynclicks_u12_9363','dynclicks_u12_9343','dynclicks_u12_9333','dynclicks_u12_9323','dynclicks_u12_9313','dynclicks_u12_9303','dynclicks_u12_9293'],[9283,9273,9363,9343,9333,9323,9313,9303,9293],"wbnews", 1841553936)</script>
</ul>
                    <ul class="n_list">







   <li><a href="info/1047/10243.htm" title="学术预告：From Biological Inspiration to Intelligent Robots"><span>2025-10-31</span> <h1>学术预告：From Biological Inspiration...</h1></a></li>
                        
   <li><a href="info/1047/8623.htm" title="关于举办“第六届电气技术与自动控制国际学术会议(ICETAC2025)”的通知"><span>2025-06-19</span> <h1>关于举办“第六届电气技术与自动控制国...</h1></a></li>
                        
   <li><a href="info/1047/7063.htm" title="关于举办“第四届电气工程与控制科学国际学术会议（IC2ECS 2024）”的通知"><span>2024-10-10</span> <h1>关于举办“第四届电气工程与控制科学国...</h1></a></li>
                        
   <li><a href="info/1047/9433.htm" title="学术预告：走进电力标准化"><span>2025-10-09</span> <h1>学术预告：走进电力标准化</h1></a></li>
                        
   <li><a href="info/1047/8033.htm" title="学术预告：风电场设计运行关键技术与研究方向选择"><span>2025-04-14</span> <h1>学术预告：风电场设计运行关键技术与研...</h1></a></li>
                        
   <li><a href="info/1047/4623.htm" title="学术预告：Future Energy Systems and Challenges"><span>2023-12-15</span> <h1>学术预告：Future Energy Systems and C...</h1></a></li>
                        
   <li><a href="info/1047/4513.htm" title="学术预告：Synchronization in time-varying and adaptive networks"><span>2023-12-07</span> <h1>学术预告：Synchronization in time-var...</h1></a></li>
                        
   <li><a href="info/1047/4243.htm" title="学术预告：Modelling of power grids"><span>2023-11-20</span> <h1>学术预告：Modelling of power grids</h1></a></li>
                        
   <li><a href="info/1047/3953.htm" title="增材制造超材料结构的研究现状、进展与发展趋势"><span>2023-10-20</span> <h1>增材制造超材料结构的研究现状、进展与...</h1></a></li>
            <a href="xsyg.htm" class="morebtn"><span>MORE</span></a>                
<script>_showDynClickBatch(['dynclicks_u13_10243','dynclicks_u13_8623','dynclicks_u13_7063','dynclicks_u13_9433','dynclicks_u13_8033','dynclicks_u13_4623','dynclicks_u13_4513','dynclicks_u13_4243','dynclicks_u13_3953'],[10243,8623,7063,9433,8033,4623,4513,4243,3953],"wbnews", 1841553936)</script>
</ul>
                </div>
            </div>
        </div>
        
        <!--专题聚焦-->
        <div class="special">
            <div class="tit"><h1><span>专题</span>聚焦</h1></div>
            <div class="ztli">    <ul>
                    
<li><a href="dzy70nyq.htm" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1841553936, 75619)"><img src="images/dianqi20240619.png"></a></li>
                    
<li><a href="xyyhzjl.htm" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1841553936, 75618)"><img src="images/zt01.png"></a></li>
                    
<li><a href="fxlpxyjl.htm" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1841553936, 75617)"><img src="images/pxjl20240805.png"></a></li>
                    
<li><a href="https://eae.njnu.edu.cn/info/1044/4733.htm?urltype=tree.TreeTempUrl&wbtreeid=1170" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1841553936, 74173)"><img src="images/ss0120240806.png"></a></li>
                    
</ul></div>
        </div>
    </div>

    <div class="link">
        <div class="rowbox clearfix">
            <div class="item">
                <h1>相关单位</h1>
                <span></span>
                <ul>    <LI><a href="http://net.njnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1841553936, 76837)">信息化建设管理处</a></li>
</ul>
            </div>
            <div class="item">
                <h1>热门站点</h1>
                <span></span>
                <ul>    <LI><a href="http://news.njnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1841553936, 76838)">党委宣传部</a></li>
    <LI><a href="http://sun.njnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1841553936, 76839)">阳光网</a></li>
</ul>
            </div>
            <div class="item">
                <h1>快速通道</h1>
                <span></span>
                <ul>    <LI><a href="http://www.njnu.edu.cn" target="_blank" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1841553936, 76840)">南京师范大学</a></li>
</ul>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="rowbox clearfix">
            <div class="bq"><!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>版权所有(c)2018 南京师范大学电气与自动化工程学院</p><p>地址：江苏省南京市栖霞区学林路2号</p><p>电话：86-25-85481270 &nbsp;</p><p><a href="https://beian.miit.gov.cn/#/Integrated/index" target="_self" style="color: rgb(255, 255, 255); text-decoration: none;"><span style="color: rgb(255, 255, 255);">苏ICP备05007121号</span></a> | <a href="http://www.beian.gov.cn/portal/registerSystemInfo" target="_self" style="color: rgb(255, 255, 255); text-decoration: none;"><span style="color: rgb(255, 255, 255);">苏公网安备32011302320321号</span></a></p></div>
            <div class="ewm">
                <ul>
<li>
<img src="images/gzh.png"><p>南师大公众号</p>
</li>
<li>
<img src="images/dzyewm.png"><p>电自院公众号</p>
</li>
</ul>
             </div>
            <div class="footlogo">    
<img src="images/footlogo.png">

</div>
        </div>
    </div><!--footer结束-->
</div>

<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/slick.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
<script id="jsID" type="text/javascript">
        
        jQuery(".newslist").slide( { effect:"fade",autoPlay:false,trigger:"mouseover",easing:"swing",delayTime:500,pnLoop:false });
    </script>
</body>
</html>
















