<!DOCTYPE html><html><head>
        <meta charset="UTF-8">
        <title>学院简介-国际中文教育学院</title><meta name="pageType" content="2">
<meta name="pageTitle" content="学院简介">
<meta name="keywords" content="国际中文教育学院,学院简介">

        <link href="../css/style.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script type="text/javascript" src="../js/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="../js/superslide.js"></script>
        <script type="text/javascript">
            $(function(){
                var _this1=null;
                $('.nav>li').hover(function(){
                    _this1=$(this);
                    _this1.find('.second-nav').show(200);
                    _this1.addClass("hovers");
                },function(){
                    _this1.find('.second-nav').hide(50);
                    _this1.removeClass("hovers");
                });
            });
        </script>
    <!--Announced by Visual SiteBuilder 9-->
<script language="javascript" src="../_sitegray/_sitegray.js"></script>
<!-- CustomerNO:77656262657232307668465750545742000400054754 -->
<link rel="stylesheet" type="text/css" href="../dp_content.vsb.css">
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1018,'/dp_content.jsp',-1,1566987121)</script>
</head>
    <body>
        
        <div class="zs_ts">温馨提示：您的分辨率过低，请使用1200分辨率以上的电脑浏览！</div>
        
        <div class="zzs">
            <div class="w1190">
                <div class="zzs_l">
                    <h1>欢迎来到学院网站!</h1>
                </div>
                
                <div class="zzs_r">
                    <ul>
                        
<script language="javascript">
function dosuba239201a()
{
    try{
        var ua = navigator.userAgent.toLowerCase();
        if(ua.indexOf("msie 8")>-1)
        {
            window.external.AddToFavoritesBar(document.location.href,document.title,"");//IE8
        }else if(ua.toLowerCase().indexOf("rv:")>-1)
        {
            window.external.AddToFavoritesBar(document.location.href,document.title,"");//IE11+
        }else{
            if (document.all) 
            {
                window.external.addFavorite(document.location.href, document.title);
            }else if(window.sidebar)
            {
                window.sidebar.addPanel( document.title, document.location.href, "");//firefox
            }
            else
            {
                alert(hotKeysa239201a());
            }
        }

    }
    catch (e){alert("无法自动添加到收藏夹，请使用 Ctrl + d 手动添加");}
}
function hotKeysa239201a() 
{
    var ua = navigator.userAgent.toLowerCase(); 
    var str = "";    
    var isWebkit = (ua.indexOf('webkit') != - 1); 
    var isMac = (ua.indexOf('mac') != - 1);     
    if (ua.indexOf('konqueror') != - 1) 
    {  
        str = 'CTRL + B'; // Konqueror   
    } 
    else if (window.home || isWebkit || isMac) 
    {        
        str = (isMac ? 'Command/Cmd' : 'CTRL') + ' + D'; // Netscape, Safari, iCab, IE5/Mac   
    }
    return ((str) ? '无法自动添加到收藏夹，请使用' + str + '手动添加' : str);
}
function setHomepagea239201a()
{
    var url = document.location.href;
    if (document.all)
    {
        document.body.style.behavior='url(#default#homepage)';
        document.body.setHomePage(url);
    }
    else if (window.sidebar)
    {
        if(window.netscape)
        {
             try{
                  netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
             }catch (e){
                   alert("该操作被浏览器拒绝，如果想启用该功能，请在地址栏内输入 about:config,然后将项 signed.applets.codebase_principal_support 值该为true");
             }
        }
    var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components. interfaces.nsIPrefBranch);
    prefs.setCharPref('browser.startup.homepage',url);
    }
    else
    {
        alert("浏览器不支持自动设为首页，请手动设置");
    }
}
</script>
 
            <li> <a href="javascript:setHomepagea239201a()" style="TEXT-DECORATION: none;">
                 设为首页 
            <span class="sx">|</span></a></li><a href="javascript:setHomepagea239201a()" style="TEXT-DECORATION: none;">
           </a><li><a href="javascript:setHomepagea239201a()" style="TEXT-DECORATION: none;"></a><a onclick="javascript:dosuba239201a();" href="#">
                 加入收藏 
            </a>
        </li>
                    </ul>
                </div>
                
            </div>  
        </div>
            
            
        
        
        <div class="head">
            <div class="tw1190">
                <div class="head_l">
                    
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="../index.htm" title="国际中文教育学院"><img src="../images/1logo.png" width="495" height="75" border="0" alt="国际中文教育学院" title="国际中文教育学院"></a>
                </div>
                <div class="head_r">    
                    <div class="search">
                        


<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/jquery/jquery-latest.min.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><link href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script><div id="divu2">
    <div id="appu2"><div><input type="submit" value=""> <input placeholder="请输入你需要的内容" type="text"></div> <!----></div>
</div>
<script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError">
         
            
             <input  type="submit" value=""  v-on:click="onSubmit()"/>
<input  placeholder="请输入你需要的内容" v-model=query.keyWord @keyup.enter="onSubmit"  type="text"  />
            
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu2").html($("#htmlu2").text());
</script>
<script>
    var appOwner = "1566987121";
    var token = 'tourist';
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/aop_views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>
                    </div>
                </div>  
            </div>
        </div>          
        
        <div class="clear"></div>
        
        <!--导航-->
        <div class="nav_box">
        <div class="header">
            <ul class="nav">
    <li><a href="../index.htm">网站首页</a>
                </li>
    <li><a href="../xygk.htm">学院概况</a>
                <ul class="second-nav">

                        <li><a href="xyjj.htm">学院简介</a></li>

                        <li><a href="ldtd.htm">领导团队</a></li>

                        <li><a href="zzjg.htm">组织机构</a></li>
                        <div class="clear"></div>
                    </ul>
                </li>
    <li><a href="../sz_list.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1012">师资队伍</a>
                <ul class="second-nav">

                        <li><a href="../sz_list.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1021">教授</a></li>

                        <li><a href="../sz_list.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1022">副教授</a></li>

                        <li><a href="../sz_list.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1023">讲师</a></li>

                        <li><a href="../sz_list.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1026">其他教师</a></li>

                        <li><a href="../sz_list.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1027">师资博士后</a></li>

                        <li><a href="../sz_list.jsp?urltype=tree.TreeTempUrl&amp;wbtreeid=1028">行政教辅</a></li>
                        <div class="clear"></div>
                    </ul>
                </li>
    <li><a href="../rcpy.htm">人才培养</a>
                <ul class="second-nav">

                        <li><a href="../rcpy/yjsjx.htm">研究生教学</a></li>

                        <li><a href="../rcpy/bksjx.htm">本科生教学</a></li>

                        <li><a href="../rcpy/yksjx.htm">预科生教学</a></li>

                        <li><a href="../rcpy/yysjx.htm">语言生教学</a></li>
                        <div class="clear"></div>
                    </ul>
                </li>
    <li><a href="../kygz.htm">科研工作</a>
                </li>
    <li><a href="../kspx/zwspks_HSK_HSK_BCT_.htm">考试培训</a>
                <ul class="second-nav">

                        <li><a href="../kspx/zwspks_HSK_HSK_BCT_.htm">中文水平考试（HSK/HSK/BCT）</a></li>

                        <li><a href="../kspx/gjzwjszs_ksyp.htm">《国际中文教师证书》考试与培训</a></li>

                        <li><a href="../kspx/gwbtzwjslhyxx.htm">国外本土中文教师来华研修项目</a></li>

                        <li><a href="../kspx/hwhwjsyxx.htm">海外华文教师研习项目</a></li>
                        <div class="clear"></div>
                    </ul>
                </li>
    <li><a href="../xsgz.htm">学生工作</a>
                <ul class="second-nav">

                        <li><a href="../xsgz/zzjg.htm">组织结构</a></li>

                        <li><a href="../xsgz/gzzd.htm">规章制度</a></li>

                        <li><a href="../xsgz/xgdt.htm">学工动态</a></li>
                        <div class="clear"></div>
                    </ul>
                </li>
    <li><a href="../dqgz.htm">党群工作</a>
                <ul class="second-nav">

                        <li><a href="../dqgz/dwgk.htm">党委概况</a></li>

                        <li><a href="../dqgz/dqzz.htm">党群组织</a></li>

                        <li><a href="../dqgz/gzzd.htm">规章制度</a></li>

                        <li><a href="../dqgz/dyfz.htm">党员发展</a></li>

                        <li><a href="../dqgz/djhd.htm">党建活动</a></li>

                        <li><a href="../dqgz/xxpt.htm">学习平台</a></li>

                        <li><a href="../dqgz/ghhd.htm">工会活动</a></li>
                        <div class="clear"></div>
                    </ul>
                </li>
</ul>

        </div>
        </div>
        
        <div class="zy_lb">
                <script language="javascript" src="/system/resource/js/dynclicks.js"></script>
<img src="../images/zybanner.png">


    
        </div>
        
        <div class="clear"></div>
        
        <!--当前位置-->
        <div class="dqwz">
            <div class="w1190">
                <ul class="dqwz_ul">
                    <li>您现在的位置：</li>
                      <li>  <a href="../index.htm">网站首页</a></li>
            <li><span>&gt;</span></li>

              <li>  <a href="../xygk.htm">学院概况</a></li>
            <li><span>&gt;</span></li>

              <li>  <a href="xyjj.htm">学院简介</a></li>
  </ul>
            </div>
        </div>
        
        <div class="clear"></div>
        
        
        <div class="zy_zj">
            <div class="zy_w1190">
                <div class="list_l">
                    <div class="zy_ltitle">
                        
学院概况
                    </div>
                    <ul>
                        <li class="on"><a href="xyjj.htm">学院简介<div class="fk"></div></a></li>

<li><a href="ldtd.htm">领导团队<div class="fk"></div></a></li>
                        
                        


<li><a href="zzjg.htm">组织机构<div class="fk"></div></a></li>
                        
                        


                    </ul>
                    
                </div>  
                
                <div class="content_r">





<script language="javascript" src="/system/resource/js/ajax.js"></script><script language="javascript">_getBatchClickTimes('null',1566987121,'wbnews','u8')</script>
<link rel="stylesheet" content-type="text/css" href="/system/resource/style/component/news/content/format2.css"><script>function seeContenta8(contentid,size,displayid){	document.getElementById(contentid).innerHTML = '[';	for(var i=0;i<=size;i++){		var allcontentid = contentid+(i+1);		if(allcontentid==displayid){			document.getElementById(contentid).innerHTML += " <span id='"+allcontentid+"' name='"+allcontentid+"'  >"+(i+1)+"</span> ";			document.getElementById(displayid).style.display = 'block';		}else{			document.getElementById(contentid).innerHTML += " <span style='cursor:pointer' id='"+allcontentid+"' name='"+allcontentid+"' onclick=seeContenta8('"+contentid+"','"+size+"','"+allcontentid+"')  >"+(i+1)+"</span> ";			document.getElementById(allcontentid).style.display = 'none';		}	}	document.getElementById(contentid).innerHTML += ']';}</script>
<script language="javascript" src="/system/resource/js/news/mp4video.js"></script>
<script>_addDynClicks('wbnews',1566987121,1271)</script>
<div class="content_t">
                        学院简介
                    </div>
    <div id="vsb_content_2_1271_u81"><div id="vsb_content_2"><p class="vsbcontent_start">东北师范大学是开展汉语国际教育最早的单位之一。早在1954年，东北师范大学就开始派遣教师前往朝鲜、捷克、蒙古、越南等国进行汉语教学。上世纪60年代初，学校开始接收外国留学生来华学习，是最早接收外国留学生的高校之一。</p>
<p>国际汉学院（海外教育学院）最早前身是文学院的对外汉语教学中心，创建于1987年，是当时东三省高校中唯一的对外汉语独立实体；1994年经国家汉语水平考试委员会批准，中心正式设立国家汉语水平考试点（旧版HSK）；1995年开始招收留学生汉语言文学专业本科生；1997年成为国家10个对外汉语教师资格考试定点单位之一。</p>
<p>2006年12月，学校整合校内资源，将对外汉语教学中心、中国赴日本国留学生预备学校、教育部出国留学人员培训部等部门进行合并，成立了留学生教育学院，主要承担来华留学生和出国留学生的培养和培训任务，其中“对外汉语教学中心”更名为“汉语言及对外汉语系”。</p>
<p>2007年成为全国首批24所汉语国际教育硕士专业学位培养院校之一，同年开始承办BCT国家商务汉语考试；2010年成为中国政府奖学金本科来华留学生预科教育全国第7所试点院校，主要以培养理工类学生为主；2011年成为新版HSK国家汉语水平考试点，同年开始招收留学生汉语言专业本科生。到目前为止，学院接收的来华留学生共来自100多个国家。</p>
<p class="vsbcontent_img"><img src="/__local/3/80/63/575196C1A14EC1C34A81F9F974F_ECB4825F_6F9A3.png" vsbhref="vurl" vurl="/_vsl/38063575196C1A14EC1C34A81F9F974F/ECB4825F/6F9A3" vheight="224" vwidth="509" width="509" height="224" orisrc="/__local/3/80/63/575196C1A14EC1C34A81F9F974F_ECB4825F_6F9A3.png" class="img_vsb_content"></p>
<p>2011年，东北师范大学成为孔子学院总部/国家汉办“国际汉语教师培训基地”。其主要任务是依托学校的学科优势，培养培训来华本土汉语教师并从事相关的研究工作；2012年，东北师范大学成为国务院侨办“华文教育基地”，其主要任务是围绕海外华文教育工作目标和要求，充分发挥学校学科优势和师资优势，承担华文教育理论研究、华文教材研发、华文教师培训和举办华裔青少年夏（冬）令营等方面的工作。</p>
<p class="vsbcontent_img"><img src="/__local/8/D8/44/B7EDA83769F866A85F25C01EA37_7A8CF06D_8162C.png" vsbhref="vurl" vurl="/_vsl/8D844B7EDA83769F866A85F25C01EA37/7A8CF06D/8162C" vheight="243" vwidth="544" width="544" height="243" orisrc="/__local/8/D8/44/B7EDA83769F866A85F25C01EA37_7A8CF06D_8162C.png" class="img_vsb_content"></p>
<p>2015年5月29日，学校将留学生教育学院的“汉语言及对外汉语系”与文学院的汉语国际教育学院合并，成立了国际汉学院（海外教育学院），同时将孔子学院总部/国家汉办“国际汉语教师培训基地”和国务院侨办“华文教育基地”并入国际汉学院（海外教育学院）合署办公。2015年9月，学院成为国家汉办、汉考国际首批指定的12所《国际汉语教师证书》认证考试培训中心之一。</p>
<p>2018年成为全国首批7所教育博士汉语国际教育领域专业学位博士研究生试点招生院校之一。</p>
<p>学院现有专职教师23人，其中教授3人、副教授10人，讲师10人；具有博士学位的19人，在读博士2人；专职教师均具有丰富的外国留学生教育教学经历，其中具有海外教育教学经历的18人；教师队伍中全国汉语国际教育硕士专业教育指导委员会委员1人，全国预科教学指导委员会副主任委员1人，国家社科项目评审专家2人；共有10名教师取得了《国际汉语教师证书》考试命题员/面试官或公派汉语教师和志愿者面试官资质。</p>
<p class="vsbcontent_end">经过十余年的发展和建设，学院已经形成了先进的办学思想，各项工作得到了快速发展，各项事业也取得了一定成效，特别是在专业提升、教师队伍建设等方面更是奠定了良好的发展基础。目前，学院办学指导思想和发展定位明确，教学理念先进，办学方向和办学特色有长远思考，人才培养、学科建设、教育教学改革、师资队伍发展等都有长足进步，为未来各项工作的顺利推进和国际化事业的持续发展奠定了坚实的基础。</p>
<p><br></p>
<p><br></p>
<p><br></p>
<p>&nbsp;</p></div></div>
    <span id="vsb_content_2_1271_u8" name="vsb_content_2_1271_u8"></span><br><br>
    
<div class="clear"></div>
</div>  
                
            </div>
            <div class="clear"></div>
        </div>
        
        <div class="clear"></div>
        
         <div class="bottom">
            <div class="w1190">
                <div class="yqlj">
                    <h1>友情链接</h1>
                    <ul>
                        <script language="javascript" src="/system/resource/js/openlink.js"></script> 
    <li><a href="http://www.nenu.edu.cn">东北师范大学</a></li>
    <li><a href="http://www.hanban.org">国家汉办</a></li>
    <li><a href="http://www.chinesetest.cn/index.do">汉语考试服务网</a></li>
    <li><a href="https://www.csc.edu.cn/">国家留学生基金委</a></li>
    <li><a href="http://office.nenu.edu.cn">学校办公室</a></li>
    <li><a href="http://oice.nenu.edu.cn">国际交流与合作处</a></li>
    <li><a href="http://bwc.nenu.edu.cn">保卫处</a></li>

                    </ul>
                </div>
                
                
                <div class="bq">
                    
                </div>
               
                
            </div>  
             <div>    <div style=" float: right;     padding-top: 2px;    padding-left: 10px;padding-right: 100px;">
                  <img src="../images/jd.jpg" width="120px" height="120px"><p style="text-align: center;    color: #FFF;">基地公众号</p>
             
                </div>
                
                
                <div style="float: right;    padding-top: 2px;">
                  
                   <img src="../x.jpg" width="120px" height="120px"><p style="text-align: center;    color: #FFF;">学院公众号</p>
                </div>
                
</div> 
        </div>
         <div style="     text-align: center;background: #0b4192;    color: #FFF;line-height: 34px;    height: 30px;">
                    <!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>版权所有©2015 东北师范大学 国际中文教育学院</p>
                </div>
    













































</body></html>